.app-layout {
  display: flex;
  min-height: 100vh;
  background: #f6f8fc;
}

.main-content {
  flex: 1;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  padding: 35px;
  flex: 1;
}

/* Responsive */

@media (max-width: 900px) {
  .main-content {
    margin-left: 0;
  }
}